<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div>
  <%= link_to "Editar Cadastro", edit_cliente_path(@cliente) , class: "btn btn-info "%> |
  <%= button_to "Apagar Cadastro", @cliente, method: :delete, class: "btn btn-danger "%>
  
</div>
