<h1>Editing veterinario</h1>

<%= render "form", veterinario: @veterinario %>

<br>

<div>
  <%= link_to "Show this veterinario", @veterinario %> |
  <%= link_to "Back to veterinarios", veterinarios_path %>
</div>
