<p style="color: green"><%= notice %></p>

<p class="lead">Veterinários Disponiveis</p>

<div id="veterinarios">
  <% @veterinarios.each do |veterinario| %>
    <%= render veterinario %>
  <% end %>
</div>

<%# <%= link_to "New veterinario", new_veterinario_path %>

<%= paginate @veterinarios %>
