<div id="<%= dom_id pet %>">

    
      <div class="card d-flex justify-content-center" style="align-itens:center text-align:center">
      
        <i class="icon fa-solid fa-paw fa-5x"></i>
        <div class="card-body">
        <p>
    
          <strong>Nome:</strong>
          <%= pet.nome %>
          
        </p>

        <p>
          <strong>Idade:</strong>
          <%= pet.idade %>
        </p>
        
        </div><!--card-body-->
      </div> <!--card-->
    
    

</div>
