
<%# <%= image_tag('pet-3.jpg', style: 'height: 35rem; width:60em;') %>

 <h1 class="lide titulo-principal .gradient " style="a{
    text-decoration: none;
    color: black;
}">Bem Vindo ao Ruby Pet Shop</h1>
<%= image_tag('welcome.svg', style: 'height: 35rem; width:60em;')%>