
<ul>
    <li><%= link_to "Cadrastrar novo usuário" , new_user_registration_path %></li>
    <li><%= link_to "Logar" , new_user_session_path %></li>

    <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>

</ul>

<ul>
    <li><%= link_to "Clientes",clientes_path %></li>

</ul>