/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
    font-family: Helvetica,Arial, sans-serif;
}
h2{
    color: red;
    text-align: center;
}
fa-user-doctor:before{
    margin: 5px;
}

span{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.icon {
    
    text-align: center;
   
  }
.corzinha-nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,19,0.6702031154258579) 35%, rgba(0,61,255,1) 72%, rgba(39,146,179,1) 100%);
}

.titulo-principal{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.1;

    background-image: linear-gradient(to bottom, rgb(153, 51, 73), rgb(49, 62, 175), rgb(224, 64, 64));
    
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
  
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;
    
}

/* Exemplo apenas com `color` */
.single-color {
    color: steelblue;
  }
  
  /* Agora, colocando um degradê */
.gradient {
    /* Primeiro passo: definir um degradê como fundo */
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
  
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;
    
  }
  
  /* Não relacionado ao degradê, apenas para melhorar a visualização */
