tr{
    border-bottom: solid;
    border-width: 3px;
   
}
td,th{
    text-align: left;
}
th{
    background-color: #000;
    color:white;
}
 
 
table, tr, td, th, tbody, thead, tfoot{
    page-break-inside: avoid !important;
}
